@model Doctor

<ol class="breadcrumb px-0">
    <li class="breadcrumb-item">
        <a asp-controller="Doctor" asp-action="Index">Doctores</a>
    </li>
    <li class="breadcrumb-item active">Eliminar doctor</li>
</ol>

<div class="container p-4 border bg-white rounded-3 shadow-sm">
    <form method="post">
        @Html.AntiForgeryToken()
        <input asp-for="Id" hidden />
        <div class="row mb-3">
            <div class="col-12 col-md-6">
                <label for="firstname" class="form-label">Nombre</label>
                <input class="form-control" id="firstname" asp-for="FirstName" disabled />
            </div>

            <div class="col-12 col-md-6">
                <label for="lastname" class="form-label">Apellidos</label>
                <input class="form-control" id="lastname" asp-for="LastName" disabled />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-6">
                <label for="type" class="form-label">Nivel Médico</label>
                <select id="type" class="form-select" asp-for="Type" disabled>
                    <option value="0">Residente</option>
                    <option value="1">MA</option>
                </select>
            </div>

            <div class="col-12 col-md-6">
                <label class="form-label">Sexo</label>

                <div>
                    <input type="radio" class="form-check-input" id="female" asp-for="Sex" value="false" disabled />
                    <label for="female" class="form-check-label">Masculino</label>

                    <input type="radio" class="form-check-input" id="male" asp-for="Sex" value="true" disabled />
                    <label for="male" class="form-check-label">Femenino</label>
                </div>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-12 col-md-6">
                <label for="identification" class="form-label">Identificación</label>
                <input class="form-control" id="identification" placeholder="000-0000000-0" asp-for="Identification" disabled />
            </div>

            <div class="col-12 col-md-6">
                <label for="exequatur" class="form-label">Exequatur</label>
                <input class="form-control" id="exequatur" placeholder="00000-00" asp-for="Exequatur" disabled />
            </div>
        </div>

        <div class="mt-4">
            <a class="btn btn-danger w-100"
               onclick="alertDelete('Está seguro que desea eliminar este doctor?',
                                    'El doctor ha sido eliminado.',
                                    '/Doctor/Delete?id=@Model.Id',
                                    '/Doctor')"
            >
                <i class="bi bi-trash-fill"></i>Eliminar
            </a>
        </div>
    </form>
</div>