@{
    ViewData["Title"] = "MyPatient";
}

<div class="d-flex align-items-center justify-content-center" style="min-height: 100vh">
    <img src="./images/logo-index.jpg" alt="Logo Hospital" />
</div>
