<div class="container text-center">
    <div style="font-size: 200px">404</div>
    <div class="fs-1 mb-3">Oops! La página que estás buscando no existe.</div>
    <a href="/" class="btn btn-primary">Regresar al inicio</a>
</div>
