@model int

<div class="container text-center">
    <div style="font-size: 200px">@Model</div>
    <div class="fs-1 mb-3">@ViewBag.ErrorMessage</div>
    <a href="/" class="btn btn-primary">Regresar al inicio</a>
</div>
