html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.DetailTable table {
    width: 100%;
}

.DetailTable thead {
    width: calc(100% - 1em);
}

.DetailTable tbody {
    display: block;
    height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}

    .DetailTable thead, .DetailTable tbody tr {
        display: table;
        width: 97%;
        table-layout: fixed;
    }